.navbar {
  width: 100%;
  padding: 4px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: transparent;
  transition: background-color 0.5s, color 0.5s;
}

.navbar.sticky {
  background-color: #1560BD; /* Change background when sticky */
}

.logo {
  width: 70px;
}

.nav-link {
  margin: 5px 20px;
  font-size: 16px; 
  color: #fff; /* Ensuring the nav link is white */
}

.custom-btn {
  background: #FFF;
  color: #212121;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  margin: 5px 20px;
}

.custom-btn:hover {
  background: #f1f1f1;
}

.navbar-nav a {
  text-decoration: none;
}

.nav-link a,
.custom-btn a {
  color: inherit;
  text-decoration: none;
}

.nav-link a:hover,
.custom-btn a:hover {
  color: inherit;
}

.menu-icon {
  display: none;
  cursor: pointer;
  color: #fff;
}

@media (max-width: 1000px) {
  .navbar .logo {
    width: 50px;
  }

  .navbar-nav .nav-item {
    margin: 10px 15px;
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 10px 0;
  }

  .navbar-toggler {
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
  }

  .navbar-nav {
    display: none; 
  }

  .navbar.open .navbar-nav {
    display: flex; 
  }

  .side-nav {
    position: fixed;
    top: 0;
    right: -200px;
    width: 250px;
    height: 100%;
    background: #212EA0;
    z-index: 11;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    padding-top: 70px;
  }

  .side-nav.open {
    right: 0;
  }

  .side-nav .nav-item {
    margin-right: 5px;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: none;
  }

  .overlay.show {
    display: block;
  }

  .close-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
